@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* propritété flex box */
.flex {

    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {

    justify-content: space-between;
    width:150px;
}

.gap20 {
    gap: 20px;
}

.alignCenter {

    align-items: center;
}

.container {
    .w50 {
        width: 50%;
    }

    .w70 {
        width: 70%;
    }

    .w25 {
        width: 25%;
    }

    .w100 {
        width: 100%;
    }

    .w48 {
        width: 48%;
    }

    max-width: 1000px;
    margin: auto;
}

.bold {
    font-weight: 700;
}

/* background*/

.background{
background-color: #FCE6F0;
}

.colorblack{
    color: black};

    .divguide {
        position: relative;
       top:250px;
       margin: 0 auto;
       text-align: center;
       margin-top: 0px;
    }

/*header*/ 

.nav{
    text-decoration:none;
    list-style:none
}

.margintop{
margin-top:15px;
}

.bouton{
    position: sticky;
    height: 100vh;
    left:80%;
    font-family: "Italiana", sans-serif;
    list-style:none;
    text-decoration: none;
}

/* divisiton gauche*/

.image
{
 position:relative;
 height: 25px; 
 left:72px; 
 top: -85vh; 
}

.image2{
    position:relative;
    height: 25px; 
    left: 72px; 
    top: -88vh;
}

.image3{
    position: relative;
    height: 20px; 
    left:40px; 
    top: -80vh; 
}