  
   @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* propritété flex box */
.flex {

    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {

    justify-content: space-between;
}

.gap20{
    gap: 20px;
}

.alignCenter {

    align-items:center;
}

.container {.w50 {
    width: 50%;
}

.w70 {
    width: 70%;
}

.w25 {
    width: 25%;
}

.w100 {
    width: 100%;
}

.w48{
    width: 48%;
}

    max-width: 1000px;
    margin: auto;
}

.bold{
    font-weight:700;
   }

   /* page acceuil*/
   
   .image{
    position:absolute;
    top:50%;
    left: 85%;
    transform: translate(-50%, -50%);
    border-radius:8px;
   }

   .texte{
    position: absolute;
    top:50%;
    left:30%;
    transform: translate(-50,-50%);

   }
   


   .Titre{
    font-family: "Lobster", sans-serif;
    width:80%;
   }

.none{
    list-style: none;
    position: absolute;
    top: 20%;
    left:15%;
    transform: translate(-50%,-50%);
}

.menu{
font-family: "Bebas Neue", sans-serif;
}

.margin{
    margin-top: 20%;
}